.history-container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    width: 1180px;
    max-width: 90%;
    justify-self: center;
    text-align: center;
}

.history-container img {
    margin-bottom: 50px;
    width: 800px;
    height: 400px;
}
    
    