
 /*CELULAR:*/


@media (min-width: 300px) and (max-width: 768px){


    /* body {
        transform: scale(0.5); 
        transform-origin: top left; 
        width: 200vw; 
        min-width: 100%;
        height: 200vh; 
        min-height: 100%;
        overflow-x: hidden; 
        position: absolute;
        top: 0;
        left: 0;
    } */

    .nav-bar {
        margin: 0.5rem;
       
    }


    .nav-button {

        gap: 0.5rem;
        font-size: 0.5rem;

    }
    .text-home-container h1 {
        font-size: 2.5rem;
        
    }

    
    .img-mountain-background {
        width: 95%;
       
    }

    
    .text-home-container p {
        font-size: 1rem;
        white-space: normal;
        width: 220px;
    }



    .atividades-do-parque-container {
        margin-top: 05px;
        margin-left: 10px;
        margin-right: 10px;
        width: 90%;
        max-width: 100%;
        height: 100%;
        justify-self: center;
        
    }

   

    .atividades-do-parque-container h2 {
        font-size: 0.69rem !important;
        width: 100% !important;
        
    }

    .atividades-do-parque-container p {
        font-size: 0.5rem !important;
        width: 100% !important;
        margin-top: -20px;
    }

    .plano-de-gestao-da-onu-menu {
        
        flex-direction: column; /* um em cima do outro */
    }
    
    

    .plano-de-gestao-da-onu-menu img {

        /* position: relative; */
        /* align-items: flex-start; */
        order: -1;
        /* object-fit: contain; */
        justify-items: center;
        width: 80%;
        height: auto;
        margin-top: -35px;
        margin-left: auto;
        margin-right: auto;
        /* margin-right: 35px; */
        margin-bottom: 35px;
        border-radius: 8px;
          
    }

    .plano-de-gestao-da-onu-menu p {
        font-size: 0.75rem;
        
        
    }

    .plano-gestao-onu_dynamic-buttons { 
        margin-top: -30px;

        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .midias-container {

        justify-self: center;
        margin-top: 1200px;
        width: 80%;
        margin: 0px;
    }
    .footer {
        justify-self: center;
    }

    .opniao-publica-container {
        justify-self: center;
        margin-top: 1200px;
        width: 80%;
        margin: 0px;
    }
    .footer, .row, .container {
        padding: 0px !important;
        width: 90vw !important;
        
        justify-self: center;
        
    }

    
}

@media (min-width: 0px) and (max-width: 400px){
    
    .text-home-container p {
        font-size: 0.85rem;
        white-space: normal;
        width: 220px;
    }

    .plano-de-gestao-da-onu-container {
        margin: 0px;
        width: 90%;
        max-width: 100%;
        height: 100%;
        justify-self: center;
    }

    .atividades-do-parque-container {
        margin-top: 05px;
        margin-left: 10px;
        margin-right: 10px;
        width: 90%;
        max-width: 100%;
        height: 100%;
        justify-self: center;
        justify-items: center;
        
    }

    

    .card-body {
        display: block;
        width: 100% !important;
        padding: 0px;
        margin-top: 10px;
    }

    .card-title {
        display: block;
        width: 100% important;
        font-size: 0.3rem !important;
        white-space: wrap;
    }

    .card-text {
        font-size: 0.3rem !important;
        display: block;
        width: 100% !important;
        position: relative;
        top: -15px;
        
    }

    .plano-de-gestao-da-onu-menu {
        
        flex-direction: column; /* um em cima do outro */
    }
    

    .plano-de-gestao-da-onu-menu img {

        /* position: relative; */
        /* align-items: flex-start; */
        order: -1;
        /* object-fit: contain; */
        justify-items: center;
        width: 50%;
        height: auto;
        margin-top: -35px;
        margin-left: auto;
        margin-right: auto;
        /* margin-right: 35px; */
        margin-bottom: 35px;
        border-radius: 8px;
          
    }

    .plano-gestao-onu_dynamic-buttons { 
        margin-top: -30px;
        gap: 50px;
        margin-left: auto;
        margin-right: auto;
       
    }
    .plano-gestao-onu_dynamic-buttons button {
        font-size: 0.5rem;
        width: auto;
        

        
    }

    .midias-container {
        width: 80%;
        margin: 0;
    }

    .opniao-publica-container {
        width: 80%;
        margin: 0;
    }

    .footer, .row, .container {
        padding: 0px !important;
        width: 90vw !important;
    }

}

/*DEPOIS EU CONTINUO*/