html, body {
    height: 100%; /* Garante que o body ocupe 100% da altura da tela */
    margin: 0;
}

/*CELULAR:*/

@media (min-width: 200px) and (max-width: 768px){


    /* body {
        transform: scale(0.5); 
        transform-origin: top left; 
        width: 200vw; 
        min-width: 100%;
        height: 200vh; 
        min-height: 100%;
        overflow-x: hidden; 
        position: absolute;
        top: 0;
        left: 0;
    } */

    .nav-bar {
        margin: 0.5rem;
       
    }


    .nav-button {

        gap: 0.5rem;
        font-size: 0.5rem;

    }

    .atividades-do-parque-container {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        width: 90%;
        max-width: 100%;
        height: 100%;
        justify-self: center;
        
    }

   

    .atividades-do-parque-container h2 {
        font-size: 0.69rem !important;
        width: 100% !important;
        
    }

    .atividades-do-parque-container p {
        font-size: 0.5rem !important;
        width: 100% !important;
    }

    .plano-de-gestao-da-onu-container {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        width: 90%;
        max-width: 100%;
        height: 100%;
        justify-self: center;}
    

    .plano-de-gestao-da-onu-menu img {

        /* position: relative; */
        /* align-items: flex-start; */
        width: 30vw;
        height: 10vh;
        margin-left: 35px;
        margin-top: 60px;

        border-radius: 8px;
          
    }

    .plano-de-gestao-da-onu-menu p {
        padding-bottom: 20px;
        font-size: 0.75rem;
        
        
    }

    .plano-gestao-onu_dynamic-buttons { 
        margin-top: 20px;
    }

    .midias-container {

        justify-self: center;
        margin-top: 1200px;
    }


}

/*DEPOIS EU CONTINUO*/