html, body {
    height: 100%; /* Garante que o body ocupe 100% da altura da tela */
    margin: 0;
}

@media (min-width: 0px) and (max-width: 768px){


    body {
        transform: scale(0.5); /* Reduz o tamanho para 50%*/
        transform-origin: top left; /* Mantém o ponto de origem fixo */
        width: 200vw; /* Evita cortes laterais */
        min-width: 100%;
        height: 200vh; /* Evita que o conteúdo fique escondido */
        min-height: 100%;
        overflow-x: hidden; /* Remove scroll horizontal */
        position: absolute;
        top: 0;
        left: 0;
    }

    img {
        max-width: 100%; /* Garante que as imagens não ultrapassem a largura da tela */
        height: auto; /* Mantém a proporção das imagens */

    }

    .atividades-do-parque-container, .plano-de-gestao-da-onu-container, .midias-container, .opniao-publica-container  {
        width: 90%;
        max-width: 100%;
    }

    .plano-de-gestao-da-onu-menu img {

        /* position: relative; */
        /* align-items: flex-start; */
        margin-left: 35px;
        margin-top: 60px;
        width: 350px;
        height: 350px;
        border-radius: 8px;
          
    }

    .plano-de-gestao-da-onu-menu p3 {
        margin-bottom: 20px;
        
        
    }

    .plano-gestao-onu_dynamic-buttons { 
        margin-top: 20px;
    }

    

}

/* DEPOIS EU CONTINUO... */