.news-container {
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    /* height: 900px; */
    justify-self: center;
    /* text-align: center; */
    /* align-items: center;  */
}

.news-container h1 {
    text-align: center;
    margin: 0 auto;
}

.calendar-container {
    width: 100%;
    /* text-align: center; */
    overflow: visible;

    justify-content: center;
}

.calendar-container iframe {
    width: 80vw;
    height: 40vh;
}

.latestNews-container {
    height: 300px;
}

.videos-container {
    height: 300px;
}